.container {
  width: 960px;
  height: 407px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 0;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartItems {
  display: flex;
  height: 188px;
  border-top: 1px dashed #ccc;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 50px;
}
.cartItemStyle {
  border-bottom: 1px dashed #ccc;
}

.noItems {
  align-self: center;
}
