
  .pagination-button{
    border: none;
    background: white;
    cursor: pointer;
  }
  .pagination-button:hover {
    border: none;
    background: #E1E1E1;
    cursor: pointer;
  }
  
  .pagination_active_button {
    border: none;
    background: #0087E9;
    color: black;
  }